<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle *ngFor="let appPage of appPages" autohide="false">
            <ion-item [routerLink]="appPage.url" routerDirection ="root" lines="none" detail="false">
              <ion-icon slot="start" [name]="appPage.icon"></ion-icon>
              <ion-label>{{appPage.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
</ion-app>
