<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/images/classroom.jpg" alt="Classroom" />
    <ion-card-header>
      <ion-card-subtitle>
        Classroom Attendance Manager 
      </ion-card-subtitle>
      <ion-card-title>Dance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quidem adipisci eum explicabo commodi, architecto, totam consequuntur assumenda non voluptate, delectus facilis doloribus. Itaque adipisci laboriosam quod laborum ex consectetur!</p>
      <a routerLink="/roster" routerDirection = "forward">Go to Roster</a>
    </ion-card-content>

  </ion-card>
</ion-content>
